/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

// Colors
$reset-color: #FFF;
$base-color: #493848;
$accent-color: #BFB39B;
$light-panel-color: #755b73;
$dark-panel-color: #30202f;
$body-text-color: #1B1B1B;

// Fonts
$font-stack: 'Roboto', Trebuchet, sans-serif;

body{
	font-family: 100% $font-stack;
	background-color: $base-color;
	color: $accent-color;
}

.btn {
	border: none;
	font-family: $font-stack;
	text-transform: uppercase;
	outline: none;
	width: 155px;
	height: 70px;
	background-color: $accent-color;
	text-decoration: none;
}

#button-bunch{
	margin-left: 80px;
}


#container{
	background-color: $dark-panel-color;
	width:800px;
	margin: 20px auto 0px auto;
}

#title{
	font-size: 20px;
	text-align:left;
	padding: 30px 80px 30px 80px;
	font-family: $font-stack;
	font-weight: 700px;
}

#video{
	position: relative;
	margin: 0 auto;
	padding: 20px 50px 50px 50px;
	width: 640px;
	color: $accent-color;
}

#video_info{
	height: 200px;
	width: 800px;
	margin: auto;
}

#comment_area{
	padding: 30px 80px 30px 80px;
	font-family: $font-stack;
	color: $dark-panel-color;
	background-color: $reset-color;
}

#comment_bunch{
	padding: 15px 0px 15px 0px;
	font-family: $font-stack;
}

.comment_author{
	color: $accent-color;
}

.comment_content{
	color: $body-text-color;
	padding-top: 7px;
	font-size: 14px;
}

.search_box{
	font-size: 20px;
	width: 800px;
	border: 0px;
	font-family: $font-stack;
	background-color: $accent-color;
	color: $base-color;
	display: block;
	margin: 20px auto auto auto;
	padding: 10px;
}

::-webkit-input-placeholder {
    color: $base-color;
}
