@import "compass/reset";

// Colors
$base-color: #493848;
$accent-color: #EBEAE1;
$light-panel-color: $accent-color;
$dark-panel-color: #203D5D;
$body-text-color: #1B1B1B;

// Font Stacks
$font-stack: 'Roboto', Helvetica, Trebuchet, sans-serif;
$comment-font-stack: 'Droid Sans', Georgia, serif;

body{
	font-family: 100% $font-stack;
	background-image: url('../images/stardust.png');
	background-color: $base-color;
	color: $accent-color;
}

#button-bunch{
	margin-left: 80px;
}

#title{
	font-size: 20px;
	text-align:left;
	padding: 30px 80px 30px 80px;
	font-family: $font-stack;
	font-weight: 700px;
}

#container{
	background-color: $dark-panel-color;
	width:800px;
	margin: 20px auto 0px auto;
}

#video_info{
	width: 800px;
	margin: auto auto 100px auto;
}

#video{
	position: relative;
	margin: 0 auto;
	padding: 20px 50px 50px 50px;
	width: 640px;
	color: $accent-color;
}

#comment_area{
	font-size: 20px;
	padding: 30px 80px 30px 80px;
	font-family: $font-stack;
	color: $dark-panel-color;
	background-color: $accent-color;
}

#comment_bunch{
	padding: 15px 0px 15px 0px;
	font-family: $font-stack;
}

.search_box{
	font-size: 20px;
	width: 800px;
	border: 0px;
	font-family: $font-stack;
	background-color: $accent-color;
	color: $base-color;
	display: block;
	margin: 20px auto auto auto;
	padding: 10px;
}

.btn {
	border: 2px solid $light-panel-color;
	font-family: $font-stack;
	text-transform: uppercase;
	outline: none;
	width: 130px;
	height: 60px;
	margin: 15px;
	background-color: $dark-panel-color;
	color: $light-panel-color;
	text-decoration: none;

	-webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.btn:hover{
	cursor: pointer;
	background-color: $light-panel-color;
	color: $dark-panel-color;
	//color: $accent-color;
}

.comment_author{
	color: $base-color;
}

.comment_content{
	font-family: $comment-font-stack;
	color: $body-text-color;
	padding-top: 7px;
	font-size: 14px;
	line-height: 20px;
}

::-webkit-input-placeholder {
    color: $base-color;
}
