/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../usr/lib/ruby/gems/1.9.1/gems/compass-0.12.3/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 19, ../sass/style.scss */
body {
  font-family: 100% "Roboto", Helvetica, Trebuchet, sans-serif;
  background-color: #493848;
  color: #bfb39b;
}

/* line 25, ../sass/style.scss */
footer {
  background-color: #755b73;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
  text-align: center;
}

/* line 31, ../sass/style.scss */
.btn {
  border: none;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
  text-transform: uppercase;
  outline: none;
  width: 155px;
  height: 70px;
  background-color: #bfb39b;
  text-decoration: none;
}

/* line 42, ../sass/style.scss */
#button-bunch {
  margin-left: 80px;
}

/* line 47, ../sass/style.scss */
#container {
  background-color: #30202f;
  width: 800px;
  margin: 20px auto 0px auto;
}

/* line 53, ../sass/style.scss */
#title {
  font-size: 20px;
  text-align: left;
  padding: 30px 80px 30px 80px;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
  font-weight: 700px;
}

/* line 61, ../sass/style.scss */
#video {
  position: relative;
  margin: 0 auto;
  padding: 20px 50px 50px 50px;
  width: 640px;
  color: #bfb39b;
}

/* line 69, ../sass/style.scss */
#video_info {
  width: 800px;
  margin: auto auto 100px auto;
}

/* line 74, ../sass/style.scss */
#comment_area {
  padding: 30px 80px 30px 80px;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
  color: #30202f;
  background-color: #F9F8F3;
}

/* line 81, ../sass/style.scss */
#comment_bunch {
  padding: 15px 0px 15px 0px;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
}

/* line 86, ../sass/style.scss */
.comment_author {
  color: #bfb39b;
}

/* line 90, ../sass/style.scss */
.comment_content {
  font-family: "Droid Sans", Georgia, serif;
  color: #1b1b1b;
  padding-top: 7px;
  font-size: 14px;
}

/* line 97, ../sass/style.scss */
.search_box {
  font-size: 20px;
  width: 800px;
  border: 0px;
  font-family: "Roboto", Helvetica, Trebuchet, sans-serif;
  background-color: #bfb39b;
  color: #493848;
  display: block;
  margin: 20px auto auto auto;
  padding: 10px;
}

/* line 109, ../sass/style.scss */
::-webkit-input-placeholder {
  color: #493848;
}
